<div class="odds-container">
    <h2>Real-Time Odds</h2>

    <mat-tab-group disableRipple>
        <mat-tab label="NFL">
            <div *ngIf="oddsData?.nflOdds && oddsData.nflOdds.length > 0" class="events-grid">
                <app-event *ngFor="let event of oddsData.nflOdds" [event]="event"></app-event>
            </div>
        </mat-tab>

        <mat-tab label="NBA">
            <div *ngIf="oddsData?.nbaOdds && oddsData.nbaOdds.length > 0" class="events-grid">
                <app-event *ngFor="let event of oddsData.nbaOdds" [event]="event"></app-event>
            </div>
        </mat-tab>

        <mat-tab label="CFB">
            <div *ngIf="oddsData?.cfbOdds && oddsData.cfbOdds.length > 0" class="events-grid">
                <app-event *ngFor="let event of oddsData.cfbOdds" [event]="event"></app-event>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<!-- Footer -->
<app-footer></app-footer>