<h1>Terms of Service</h1>
<p>Effective Date: 01/26/2025</p>

<p>Welcome to BettorOdds! By accessing or using our application, you agree to comply with and be bound by these Terms of
    Service. If you do not agree, please do not use our application.</p>

<h2>Use of Our Application</h2>
<ul>
    <li>You must be at least 18 years old to use this application.</li>
    <li>You agree to use the application for lawful purposes only.</li>
    <li>You must not misuse or attempt to interfere with the application’s functionality.</li>
</ul>

<h2>Accounts</h2>
<p>When creating an account, you agree to:</p>
<ul>
    <li>Provide accurate and up-to-date information</li>
    <li>Maintain the confidentiality of your login credentials</li>
    <li>Notify us immediately if you suspect unauthorized use of your account</li>
</ul>

<h2>Prohibited Activities</h2>
<p>When using our application, you must not:</p>
<ul>
    <li>Engage in any activity that violates applicable laws or regulations</li>
    <li>Post or share harmful, illegal, or offensive content</li>
    <li>Attempt to reverse-engineer, copy, or modify the application</li>
    <li>Engage in fraudulent or deceptive practices</li>
</ul>

<h2>Intellectual Property</h2>
<p>All content and materials within the application, including logos, text, and graphics, are the intellectual property
    of [Your Company Name]. You may not reproduce, distribute, or use these materials without our explicit permission.
</p>

<h2>Limitation of Liability</h2>
<p>To the fullest extent permitted by law, [Your Company Name] is not liable for any direct, indirect, incidental, or
    consequential damages arising from your use of the application.</p>

<h2>Termination</h2>
<p>We reserve the right to terminate or suspend your access to the application at our sole discretion, without notice,
    for any violation of these Terms of Service.</p>

<h2>Changes to the Terms</h2>
<p>We may update these Terms of Service from time to time. Continued use of the application after changes are made
    constitutes your acceptance of the revised terms.</p>

<h2>Contact Us</h2>
<p>If you have any questions about these Terms of Service, please contact us at:</p>
<p>Email: support@bettorodds.com</p>
<!-- <p>Address: [Your Company Address]</p> -->

<!-- Footer -->
<app-footer></app-footer>