<div class="event-card" [routerLink]="['/event', event.id]">
    <div class="event-header">
        <span class="event-time">{{ event.dateTime | date: 'short' }}</span>
    </div>

    <div class="event-details">
        <div class="event-row">
            <div class="team-info">
                <span class="team">{{ event.homeTeam }}</span>
            </div>
            <div class="odds-info">
                <span><strong>Moneyline:</strong> {{ event.homeTeamOdds.moneyline.odds }}</span>
                <span><strong>Spread:</strong> {{ event.homeTeamOdds.spread.odds }}</span>
                <span><strong>Over/Under:</strong> {{ event.homeTeamOdds.overUnder.odds }}</span>
            </div>
        </div>

        <div class="event-row">
            <div class="team-info">
                <span class="team">{{ event.awayTeam }}</span>
            </div>
            <div class="odds-info">
                <span><strong>Moneyline:</strong> {{ event.awayTeamOdds.moneyline.odds }}</span>
                <span><strong>Spread:</strong> {{ event.awayTeamOdds.spread.odds }}</span>
                <span><strong>Over/Under:</strong> {{ event.awayTeamOdds.overUnder.odds }}</span>
            </div>
        </div>
    </div>
</div>